*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//root-html section
html {
  font-size: 10px;
}
//root-body section
body{
  font-family: 'Open Sans', sans-serif;

}

.btn{
  padding:1rem;
  color:black;
  background-color: white;
  font-weight: bold;
}

