$img-path:"./../images/";
// $font-sfcompact-path:"./../";
$clr-light-deep-blue:#01245B;
$clr-blue-black:rgba(0, 0, 0, 0.2);
$clr-deep-blue:rgb(22, 6, 55);
$clr-deep-grey:rgb(89, 89, 89);
$clr-light-grey:rgb(78,95,103,100%);
$clr-medium-grey:rgb(137, 137, 162);
$clr-orange:rgb(238, 150, 23);
$clr-grey:rgb(119, 111, 111);
$clr-deep-black:rgb(8, 8, 8);
$clr-deep-light-black:rgb(0 0 0 / 16%);
$clr-deep-deep-black:rgb(0 0 0 / 20%);
$clr-black:black;
$clr-dee-brown:rgb(254 88 88 / 25%);
$cle-red-orange:#D44800;
$clr-orange-pink:#FE5858;
$clr-orange-pink-gradient:linear-gradient(144deg, #FE5958, #EE9418);
$clr-orange-pink-gradient-124deg:linear-gradient(124deg, #FD5956, #EF931A);
$clr-red-pink-light-orange:linear-gradient(107deg, rgb(254, 88, 88), rgb(238,150,23,100%));
$clr-light-white:rgb(234, 234, 234);
$clr-white:rgb(255, 255, 255);







$custom-small-mobile-max: 359px;
$portrait-mobile-max:575px;
$mobile-min: 576px;
$mobile-max: 767px;
$ipad-min: 768px;
$ipad-max: 991px;
$desktop-min:992px;
$desktop-max:  1199px;
$large-desktop-min:  1200px;
$medium-large-desktop-min: 1366px;
$medium-large-desktop-max: 1400px;
