.main-banner {
    display: flex;
    align-items:center;
    min-height: calc(100vh - 144.6px);
    color:$clr-white;
    background-color: $clr-deep-grey;
    margin: 0 0 47.67px 0;
    &__blue-dot-wrapper {
        position:absolute;
    }
    &__blue-spot {
        width: 81.81px;
        border: none;
        border-top: 7px dotted $clr-light-grey;
        margin-bottom: 20px;
    }
    &__wrapper {
        @extend %container;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
      
    }
    &__left-side {
        z-index:1;
        padding-top: 32.015px;
    }
    &__definition {
        margin:0;
        font-size:40px;
    }
    &__title {
        font-size:25.62px;
    }
    &__head {
        font-size: 63.32px;
    }
    &__subtitle {
        font-size: 15.66px;
        margin-bottom: 54.07px;
    }
    &__plan-offerlink {
        display: inline-block;
        text-decoration: none;
        font-weight: 600;
        font-size: 14.23px;
        border-radius: 50px;
        color: $cle-red-orange;
        background-color: $clr-white;
        padding:11.49px 25.775px 11.49px 25.775px;
    }
    &__banner-image {
        border:4.27px solid $clr-dee-brown;
        background-color:$clr-white;
        border-radius: 13px;
        padding:36.5px 48.03px;
        img{
            height:364.98px;
            width:344.52px;

        }
    }

    

    @media screen and (min-width:$desktop-min)and(max-width:$desktop-max) {
    }

    @media screen and (max-width:$ipad-max) {
    
        &__left-side {
            z-index: 1;
            padding-left: 2vw;
        }
        &__definition {
        font-size: 2vw;
        }
        &__definition {
            font-size: 2vw;
        }
        &__head {
            font-size: 2vw;
        }
        &__subtitle {
            font-size: 2vw;
        }

        &__banner-image {
            padding-top: 12.5px 8.03px 5.5px 7.03px; 
            img {   
                height: auto;
                width: 227.52px;
            }
        }
    }
    @media screen and (min-width:$custom-small-mobile-max)and(max-width:$ipad-min){
        &__wrapper {
            justify-content: center;
            align-items: center;
            z-index: 1;
        }
    
        &__left-side  {
            padding-left: 0;
            margin-bottom: 4vh;
        }
        &__definition {
            font-size:3vw;
        }
    
        &__title {
            font-size:4vw;
        }
    
        &__head {
            font-size:11vw;
        }
    
        &__subtitle {
            font-size:3vw;
        }
    
        &__banner-image {
            padding: 14.5px 23.03px;
            margin-bottom: 5vh;
        // height: auto;
        // width: auto;
        }

    }

    @media screen and (max-width:$custom-small-mobile-max) {
        &__left-side {
            z-index: 1;
            margin-bottom: 9vh;
        }
        &__title {
            font-size: 3vw;
        }
        &__head {
            font-size: 10vw;
        }
        &__subtitle {
            font-size: 2vw;
            margin-bottom: 3vh;
        }

        &__plan-offerlink {
            font-size: 3vw;
            padding: 2vh 5vw;
        }
        &__banner-image {
            z-index: 1;
            padding: 1.5px 9.03px;
        }

    }

}


.trusted-partner {
    @extend %container;
    margin-bottom: 110.99px;
    @media screen and (max-width:$ipad-max) {
        margin-left:0;
        margin-right: 0;
    }
    &__title {
        font-size: 14.22px;
        font-weight: 600;
    }
    &__logos {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__microsoft {
        width: 150.83px;
        height:38.42px;

    }
    &__intuit {
        width:125.93px;
        height:37.71px;
    }
    &__veeam {
        width: 187.83px;
        height:55.50px;
    }
    &__crayon {
        width: 150.12px;
        height:51.23px;
    }
    &__salesforce {
        width: 141.58px;
        height:88.94px;
    }
    &__vmware {
        width: 158.36px;
        height:24.11px;
    }
    @media screen and (min-width:$desktop-min)and(max-width:$desktop-max) {
        &__microsoft,  &__intuit,&__veeam,&__crayon,&__salesforce,&__vmware {
            // width: 10vw;
            // height: 2.1vh;
        }
    }
   
    @media screen and (max-width:$ipad-max) {
        &__title {
            font-size: 14.22px;
            font-weight: 600;
        }
        &__logos {
            justify-content: space-around;
        }

        &__microsoft,  &__intuit,&__veeam,&__crayon,&__salesforce,&__vmware{
            width: 12vw;
            height: 4.1vh;
        }
    
    }
    @media screen and (min-width:$custom-small-mobile-max)and(max-width:$ipad-min){
        
        &__microsoft,  &__intuit,&__veeam,&__crayon,&__salesforce,&__vmware {
            width: 9vw;
            height: 2.1vh;
        }

    }
   
    @media screen and (max-width:$custom-small-mobile-max) {
        &__logos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__microsoft,  &__intuit,&__veeam,&__crayon,&__salesforce,&__vmware {
            min-width: 38vw;
            min-height: 4.1vh;
            margin: 1vh 2vw 1vh 2vw;
        }

    }
}



 .services{
    &__heading-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 133.04px;
    }
    &__heading-separator {
        // margin-bottom: 17px;
        width:153.70px;
        border:none;
        border-top:3px solid $clr-deep-deep-black;
        margin-bottom: 12.094px;
    }
    &__heading {
        font-size: 46.96px;
        font-weight: 600;
        margin-bottom: 20.64px;
    }
    &__heading-highlight {
        color:$clr-orange-pink;
    }
    &__sub-heading {
        font-size: 18.50px;
        color:$clr-medium-grey;
    }
    &__container {
        @extend %container;
        display: flex;
        justify-content: space-between;
        // height: 100vh;
        min-height: 633.19px;
        margin-bottom: 144.84px;
    }
    &__arrow-image {
        margin-bottom: 17.79px;
        height:74.70px;
    }
    &__quick-books {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 283.16px;
        margin-right: 11.6px;
        box-shadow: 0px 34.15px 48.37px $clr-deep-light-black;
        //box-shadow: 0px 34.15px 48.37px #eaeaea;
        //box-shadow: -2px 53px 30px 16px #eaeaea;
        // margin-right: 11.39px;
    }
    &__book-image {
        width:283.16px ;
        height: 222.69px;
        margin-bottom: 30.60px;
    }
    &__quick-book-title {
        display: block;
        font-size: 25.62px;
        color:$clr-orange-pink;
        margin:0 0 0 0;
    }
    &__quick-book-detail {
        font-size: 15.66px;
        color:$clr-medium-grey;
        margin-bottom: 105.09px;
        width:251.15px;
        margin-top:39.55px;
        text-align: center;
    }
    &__book-now-link {
        display: inline-block;
        text-decoration: none;
        font-size: 14.23px;
        font-weight: 700;
        color:$clr-white;
        background-image: $clr-red-pink-light-orange;
        border-radius: 135.17px;
        padding:10.065px 34.76px;
    }
    &__wrapper {
        position: relative;
        width: 872.24px;
        box-shadow: 0px 34.15px 48.37px $clr-light-white;
        //box-shadow: -2px 53px 30px 16px #eaeaea;
    }
    &__compare-plans {
        // display: flex;
        // flex-direction: row;
        margin-left: 50.51px;
    }
    &__compare-plans-heading {
        font-size: 25.62px;
        margin: 0 0 20.42px 0;
    }
    &__compare-plans-separator {
        width:225.54px;
        border:none;
        border-top:3px solid $clr-deep-deep-black;
        margin-bottom: 22.05px;
    }
    &__plans-description {
        font-size: 15.66px;
        width:406.25px;
        color:$clr-medium-grey;
        margin-bottom: 59.26px;
        
    }
    &__compare-plans-link {
        display: inline-block;
        text-decoration: none;
        font-size:14.23px;
        font-weight: 700;
        color:$clr-white;
        border-radius: 135.18px;
        background-image:$clr-red-pink-light-orange;
        padding:10.065px 33.05px;
        margin-bottom: 182.27px;
    }
    &__upload-image {
        position: absolute;
        top: 193.51px;
        right: 0;
        width: 314.99px;
        height: 283.93px;
    }
    &__add-ons {
        font-size: 11.39px;
        font-weight: 700;
        margin-left: 50.51px;
        a{
            color:$clr-orange-pink;
            
        }

    }

    &__solution-container {
        @extend %container;    
        height: 249.72px;
        margin-bottom:141.58px;
        padding-inline:58.33px;
        

    }
    &__solution-wrapper {
        display: flex;
        box-shadow: 0px 34.15px 48.37px $clr-deep-light-black;
        //box-shadow: rgb(234 234 234) 0px 13.51px 56.2px;
        //box-shadow: 0px 11px 30px 11px #eaeaea;
    }
    &__rigth-part {
        width:45.53px;
        background-color: $clr-orange;
    }
    &__middle-part {
        flex-grow: 1;
        margin-left:48.37px;
        margin-top: 54.458px;
        
    }
    &__question {
        width:416.78px;
        font-size: 28.45px;
        color:$clr-deep-blue;
        margin-bottom: 36.69px;
    }
    &__consultant {
        display: inline-block;
        color: $clr-orange-pink;
    }
    &__ask-solution {
        
    }
    &__solution-separator {
        width:225.53px;
        border:none;
        border-top:3px solid $clr-deep-deep-black;
        margin-bottom: 32.665px;
    }
    &__call-us {
        color:$clr-medium-grey;
        font-size: 22.05px;
        margin-bottom: 15.92px;
    }
    &__call-back {
        width: 345.05px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image:$clr-orange-pink-gradient-124deg;
    }
    &__call-back-link {
        display: inline-block;
        text-decoration: none;
        font-size:14.22px;
        font-weight: 800;
        border-radius: 82.52px;
        color:$cle-red-orange;
        background-color: $clr-white;
        padding:11.49px 37.89px;
    }

    @media screen and (min-width:$desktop-min)and(max-width:$desktop-max) {
    }
   
    @media screen and (max-width:$ipad-max) {
        &__heading-wrapper {
            margin-bottom: 15vh;
        }

        &__heading-separator {
            width: 20vw;
            margin-bottom: 1vh;
        }

        &__heading {
            font-size: 5vw;
            margin-bottom: 3vh;
        }

        &__sub-heading {
            font-size: 2vw;
        }

        &__container {
            min-height: 0;
            margin-bottom: 14vh;
        }

        &__quick-books {
            /* width: 283.16px; */
        }   

        &__book-image {
            width: 33vw;
            height: 21vh;
            margin-bottom: 4vh;
        }

        &__quick-book-title {
            font-size: 3vw;
        }

        &__quick-book-detail {
            font-size: 1.8vw;
            margin-bottom: 17vw;
            width: 251.15px;
            margin-top: 4vw;
        }
        &__quick-book-detail {
            font-size: 1.8vw;
            margin-bottom: 9vw;
            width: 32.8vw;
            margin-top: 4vw;
        }

        &__book-now-link {
            margin-bottom: 4vh;
        }

        &__arrow-image {
            margin-bottom: 2vh;
            height: 7vh;
        }

        &__compare-plans {
            margin-left: 6.5vw;
        }

        &__compare-plans-heading {
            font-size: 2.4vw;
            margin: 0 0 2vh 0;
        }

        &__compare-plans-separator {
            width: 24vw;
            margin-bottom: 2vw;
        }

        &__plans-description {
            font-size: 1vw;
            width: 28vw;
            color: $clr-medium-grey;
            margin-bottom:6vh;
        }

        &__compare-plans-link {
        margin-bottom: 14vh;
        }

        &__upload-image {
            width: 27vw;
            height: 20vh;
            top: 17vh;
            right: 0;
        }

        &__add-ons {
            font-size: 1vw;
            font-weight: 700;
            margin-left: 5vw;
        }

        &__solution-container {
            margin-bottom: 0;
            padding-inline:15px;    
        }

        &__rigth-part {
            width: 6vw;
        }

        &__middle-part {
            flex-grow: 1;
            margin-left: 5vw;
            margin-top: 5vh;
        }

        &__question {
            width: 47vw;
            font-size: 3vw;
            margin-bottom: 3vh;
        }

        &__solution-separator {
            width: 19vw;
            margin-bottom: 3vh;
        }

        &__call-us {
            font-size: 2.5vw;
            margin-bottom: 1.6vh;
        }

        &__call-back {
            width: 30vw;
        }

        &__call-back-link {
            font-size: 1.7vw;
            border-radius: 82.52px;
        }
    }
    @media screen and (min-width:$custom-small-mobile-max)and(max-width:$ipad-min){
        
        &__heading-wrapper {
            margin-bottom: 9vh;
        }

        &__heading-separator {
            width: 25vw;
            margin-bottom: 1vh;
        }

        &__heading {
            font-size: 5vw;
            margin-bottom: 3vh;
        }

        &__sub-heading {
            font-size: 2vw;
        }

        &__container {
            margin-bottom: 6vh;
        }

        &__quick-books {
            /* width: 283.16px; */
        }

        &__book-image {
            width: 28vw;
            height: 11vh;
            margin-bottom: 2vh;
        }

        &__quick-book-title {
            font-size: 3vw;
        }

        &__quick-book-detail {
            font-size: 1.8vw;
            margin-bottom: 13vw;
            width: 24.8vw;
            margin-top: 3vw;
        }

        &__book-now-link {
            margin-bottom: 3vh;
            font-size: 7.23px;
            padding: 0.065px 8.76px;
        }

        &__arrow-image {
            margin-bottom: 2vh;
            height: 5vh;
        }

        &__compare-plans {
            margin-left: 6.5vw;
        }

        &__compare-plans-heading {
            font-size: 2.4vw;
            margin: 0 0 2vh 0;
        }

        &__compare-plans-separator {
            width: 24vw;
            margin-bottom: 2vw;     
        }

        &__plans-description {
            font-size: 1.5vw;
            width: 28vw;
            margin-bottom:4vh;
        }

        &__compare-plans-link {
            font-size: 5.23px;
            padding: 3.065px 5.05px;
            margin-bottom: 5.6vh;
        }

        &__upload-image {
            width: 22vw;
            height: 9vh;
            top: 12vh;
            right: 0;
        }

        &__add-ons {
            font-size: 1.5vw;
            font-weight: 700;
            margin-left: 5vw;
        }
        &__solution-container {
            margin-bottom: 0;
            padding-inline:15px;
        }

        &__rigth-part {
            width: 6vw;
        }

        &__middle-part {
            flex-grow: 1;
            margin-left: 5vw;
            margin-top: 2vh;
        }

        &__question {
            width: 47vw;
            font-size: 3vw;
            margin-bottom: 1vh;
        }

        &__solution-separator {
            width: 19vw;
            margin-bottom: 2vh;
        }

        &__call-us {
            font-size: 2.5vw;
            margin-bottom: 1.6vh;
        }

        &__call-back {
            width: 30vw;
        }

        &__call-back-link {
            font-size: 1.7vw;
            border-radius: 82.52px;
            padding: 4.49px 9.89px;
        }
    }
   
    @media screen and (max-width:$custom-small-mobile-max) {
        &__heading-separator {
            width: 20vw;
            margin-bottom: 1vh;
        }
        
        &__heading-wrapper {
            margin-bottom: 15vh;
        }
        &__heading-separator {
            width: 20vw;
            margin-bottom: 1vh;
        }
        
        &__heading {
            font-size: 5vw;
            margin-bottom: 3vh;
        }
        &__sub-heading {
            font-size: 2vw;
        }
        
        &__container {
        flex-direction:column;
        }
        
        &__quick-books {
            margin-right: 0;
            width:auto;
        }
        
        &__book-image {
            width: 85vw;
            height: 26vh;
            margin-bottom: 4vh;
        }
        
        &__quick-book-title {
            font-size: 6vw;
        }
        
        &__quick-book-detail {
            font-size: 2.8vw;
            margin-bottom: 9vw;
            width: 55.8vw;
            margin-top: 4vw;
        }
        
        &__book-now-link {
            margin-bottom: 4vh;
        }
        
        &__wrapper {
            width: auto;
            margin-top: 8vh;
        }
        &__arrow-image {
            margin-bottom: 2vh;
            height: 7vh;
        }
        
        &__compare-plans {
            margin-left: 6.5vw;
        }
        
        &__plans-description {
            font-size: 1.3vw;
            width: 28vw;
            color: $clr-medium-grey;
            margin-bottom: 6vh;
        }
        
        &__compare-plans-link {
        
            padding: 1vh 2vw;
            font-size: 3vw;
            margin-bottom: 5vh;
        }
            
        &__upload-image {
            width: 46vw;
            top: 13vh;
            top: 6vh;
            right: 0;
        }
        
        &__add-ons { 
            font-size: 1.7vw;
            text-align: center;
            margin-bottom: 7vh;
        }
        
        &__middle-part {
            flex-grow: 1;
            margin-left: 5vw;
            margin-top: 2vh;
        }
        
        &__question {
            margin-bottom: 1vh;
        }
        
        &__solution-separator { 
            margin-bottom: 2vh;
        }
        
        &__call-back-link {
          padding:1vh 2vw;
        }
    }
}


.cloud-hosting {
    @extend %container;
    @media screen and (max-width:$ipad-max) {
        margin-left:0;
        margin-right: 0;
        margin-bottom: 13vh;
    }
    @media screen and (min-width:$custom-small-mobile-max)and(max-width:$ipad-min) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 13vh;
    }
    @media screen and (max-width:$custom-small-mobile-max) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 7vh;
    }
    margin-bottom: 139.27px;
    &__head-separator {
        width: 153.7px;
        border:none;
        border-top: 3px solid $clr-blue-black;
        margin-bottom: 23.68px;
    }
    &__head-wrapper {
        // @extend %container;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    &__section-heading {
        font-size:28.45px;
        color: $clr-deep-blue;
        
    }
    &__hosting {
        color:$clr-orange-pink;
    }
    &__wrapper {
        padding-left:48.37px;
        padding-right: 19.98px;
        margin-top: 86.29px;
    }
    &__inner-wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__details {
    //     display: flex;
    // flex-direction: column;
    // // align-items: center;
    // justify-content: center;
    margin-top: 109.645px;
    }
    &__circle {
        display: inline-block;
        height: 14px;
        width:14px;
        border-radius: 50%;
        background-color: $clr-orange;
        margin-right: 22.76px;
    }
    &__title {
        color:$clr-deep-blue;
        font-size:21.345px;
        margin-bottom: 30.81px;
    }
    &__title-separator {
        width:226.24px;
        border:none;
        border-top: 3px solid $clr-blue-black;
        margin-bottom: 32.015px;
        margin-left: 3.55px;
    }
    &__subtitle {
        color: $clr-medium-grey;
        font-size: 15.65px;
        width:406.24px;
        line-height: 28.9px;
    }
    &__images {
        display: inline-block;
        height:370.35px;
        width:491.98px ;

    }
    
    @media screen and (min-width:$desktop-min)and(max-width:$desktop-max) {
    
    }

    @media screen and (max-width:$ipad-max) { 

        &__section-heading {
            font-size: 2.8vw;
        }
        &__details {
            margin-top: 9vh;
        }
        
        &__title {
            font-size: 2.1vw;
            margin-bottom: 2.4vh;
        }
        
        &__title-separator {
            width: 30vw;
            margin-bottom: 2vh;
            margin-left: 1vw;
        }
        
        &__images {
            display: inline-block;
            height: 24vh;
            width: 31vw;
            margin-top: 3vh;
        }

        
    }
    @media screen and (min-width:$custom-small-mobile-max)and(max-width:$ipad-min){
       
        &__head-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        &__head-separator {
            width: 20vw;
            border: none;
            border-top: 3px solid $clr-blue-black;
            margin-bottom: 1.4vh;
        }
        
        &__section-heading {
            font-size: 2.8vw;
        }
        
        &__wrapper {
            padding-left: 5vw;
            padding-right: 0;
            margin-top: 7vh;
        }
        
        &__details {
            margin-top: 6vh;
        }
        
        &__title {
            font-size: 2.1vw;
            margin-bottom: 1.4vh;
        }
        
        &__title-separator {
            width: 30vw;
            margin-bottom: 1vh;
            margin-left: 1vw;
        }
        &__circle {
            height: 9px;
            width: 8px;
            margin-right: 14.76px;
        }
        &__subtitle {
            font-size: 2vw;
            width: 51vw;
            line-height: 2.3vh;
        }
        &__images {
            height: 14vh;
            width: 31vw ;
            margin-top: 3vh;
        }
    }

    @media screen and (max-width:$custom-small-mobile-max) {
        
        &__head-separator {
            width: 67.7px;
            border: none;
            border-top: 3px solid $clr-blue-black;
            margin-bottom: 2vh;
        }
        &__section-heading {
            font-size: 2.8vw;
        }
        
        &__wrapper {
            padding-left: 5.37px;
            padding-right:0;
            margin-top: 9vh;
        }
        
        &__details {
            margin-top: 4vh;
        }
        
        &__title {
            font-size: 1.9vw;
            margin-bottom: 1vh;
        }
        
        &__circle {
            height: 4px;
            width: 4px;
            margin-right: 5.76px;
        }
        
        &__title-separator {
            width: 30vw;
            margin-bottom: 1vh;
            margin-left: 1vw;
        }
        
        &__subtitle {
            color: $clr-medium-grey;
            font-size: 1.2vw;
            width: 44vw;
            line-height: 7.9px;
        }
        &__images {
            height:9vh;
            width: 33vw;
            margin-top: 2vh;
        }
    }
}



.testimonials {
    @extend %container;
    margin-bottom: 73.28px;
    &__heade-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .swiper {
        display: flex;
        justify-content: space-around !important;
        align-items: center;
        // @extend %container;
        // width: 600px;
        // height: 300px;
        // margin-left: 6%;
    }
    .swiper-button-prev {
        // background-image: url("./../../images/left-arrow.png");
        content:none;
        position: absolute;
        &:after {
            content: none;
            position: absolute;
        }   
    }
    .swiper-button-next {
        // background-image: url("./../../images/right-arrow.png"); 
        content: none;
        &:after {
            content: none;
        }
    }
    &__head-separator {
        width: 153.7px;
        border:none;
        border-top: 3px solid $clr-blue-black;
        margin-bottom: 30.38px;
        
    }
    &__section-heading {
        font-size:28.45px;
        color: $clr-deep-blue;
        margin-bottom:93.7px;
        
    }
    &__text{
        color:$clr-orange-pink;
        
    }
    &__card-list {
        // display: flex;
        // justify-content: space-around;
        // align-items: center;   
    }
    &__card {
        // width:201.105px;
        display: inline-block;
        border:1px dashed $clr-light-deep-blue;
        margin-left:30px;
        margin-right: 0;
    }
    &__card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__card-img {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: $clr-orange-pink-gradient;
        padding:33.8px 30.05px;
        img {
            height: 142.291px;
            width:142.291px;
        } 
    }
    &__card-title {
        font-size: 19.92px;
        margin:24.90px 0 22.05px 0;
    }
    &__card-details {
        text-align: center;
        width: 217.7px;
        font-size: 12.8px;
        margin-right: 21.7px;
        margin-left: 21.7px;
        margin-bottom:37.33px;
    }
    // &__heade-wrapper {
        
    // }
    // &__heade-wrapper {
        
    // }
    // &__heade-wrapper {
        
    // }
    // &__heade-wrapper {
        
    // }
    @media screen and (max-width:$ipad-max) {
        .swiper-button-prev {
            img {
                // width:25vw;
                // height:100%;
                display: none;
            }
        }
        .swiper-button-next {
            img{
                // width:25vw;
                // height:100%;
                display: none;
            }
        
        }
    }
    @media screen and (max-width:$custom-small-mobile-max) {
        .swiper-button-prev {
            img {
                // width:25vw;
                // height:100%;
                display: none;
            }
        }
        .swiper-button-next {
            img{
                // width:25vw;
                // height:100%;
                display: none;
            }
        
        }
    }

}