.header{
    // background-color: black;
    &__wrapper {
        @media screen and (max-width:$ipad-max)
        {
          display: flex;
          flex-direction: column;
          margin: 1rem 1rem 0 auto;
          padding: 0;
        }
    }
    &__top-links-wrapper {
        background-color: black
    }
    &__top-links {
        @extend %container;
        font-size: 14.22px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 11.845px;
        padding-bottom: 11.845px;
        color: white;

    }
    &__check-now {
        text-decoration: none;
        color:#EE9617;
    }
    &__call-us {
        display: inline-block;
        text-decoration: none;
        color:white;
        margin-right: 125.92px;
    }
    &__contact {
        display: inline-block;
        text-decoration: none;
        color:white;

    }
    &__nav-wrapper {
        background-color:#595959;
    }
    &__nav-links-wrapper {
        @extend %container;
        font-size: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-decoration: none;
        padding-top:28.46px;
        padding-bottom:28.46px;

    }
    &__logo-link {
        text-decoration: none;
        font-size:32.73px;
        color:white;

    }

    &__links {
        display: inline-block;
        text-decoration: none;
        color:white;
        font-size: 14.23px;
        margin-left:42.69px;
        padding:0.05rem 0;
    }
    &__nav-links {
        display: flex;
        align-items: center;

        a:first-child {
            margin-left: 0;
        }
    }
    &__hamburger {
        // display:none;
        background-color: #EE9617;
  
      }
  
      &__bar {
        display:block;
        width:25px;
        height:3px;
        margin:5px auto;
        -webkit-transition:all 0.3s ease-in-out;
        transition:all 0.3s ease-in-out;
        background-color:black;
      }
      
    @media screen and (max-width:$ipad-max)
    {
      &__hamburger {
        display: inline-block;
      }
       
      &__hamburger.active &__bar:nth-child(2){
        opacity:0;
      }
      &__hamburger.active &__bar:nth-child(1)
      {
        transform:translateY(0.8rem) rotate(45deg);
      }

      &__hamburger.active &__bar:nth-child(3) {
       transform:translateY(-0.8rem) rotate(-45deg);
      }

    //&__top-links
    &__top-links-wrapper{
      position:fixed;
      left:-100%;
      top:29.1rem;
      gap:0;
      flex-direction:column;
      background-color:white;
      width:100%;
      text-align:center;
      transition:0.3s;
    }
    //&__bottom-links
    &__nav-wrapper{
      position:fixed;
      left:-100%;
      top:8rem;
      gap:0;
      flex-direction:column;
      background-color:white;
      width:100%;
      text-align:center;
      transition:0.3s;
    }



    &__top-links-wrapper.active{
    left:0;
    top:29.1rem;
    }
    &__nav-wrapper.active{
      left:0;
      top:8rem;
      }
    // .nav-item{
    //   margin:16px 0;
    //   display: block;
    //     // font-size: 1.6rem !important;
    //   }
    //  .remove-border
    //  {
    //    border:none !important;
    //    font-size: 1.6rem;
    //    padding: 0;
    //  }
  }

}
